@font-face {
    font-family: Brush;
    src: url(../Fonts/Brush.ttf);
}

body {
    margin:auto;
    background-color:#B2DBD5;
}

h1{
    font-family:Brush;
    font-size:60px;
    display:table-cell; 
    vertical-align:middle
}

#TitleDiv{
    width:300px;
    border-radius:15px;
    background-color:#2B616D;
    color:white;
    text-align:center;
    margin:auto;
    margin-top:30px;
    display:table;
    margin-bottom:30px;
}

#Footer {
    background-color:#FA8D62;
    text-align:center;
    color:White;  
    margin:auto;
    width:100%;
    min-width:300px;
}

#Bluebox{
    background-color:#2B616D;
    padding:10px;
    border-radius:15px;
    color:white;
    margin-bottom:20px;
    min-width:300px;
}

.Header{
    font-weight:bold;
    text-decoration:underline;
}

.btn{
    background-color:#FA8D62;
    border-color:#FA8D62;
}

.btn:hover{
    background-color:#F96F39;
    border-color:#B2DBD5;
}

.btnright{
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
}

.btnleft{
    border-bottom-right-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
    border-right:2px solid #B2DBD5;
}

.AL{
    text-align:left;
}

.AR{
    text-align:right;
}

.btn-group{
    text-align:center;
    margin:auto;
    margin-bottom:20px;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


@media(max-width: 575px) {
    .AR{
        text-align:center;
    }
    .AL{
        text-align:center;
    }
}
