@font-face {
    font-family: Brush;
    src: url(../Fonts/Brush.ttf);
}

body {
    padding-top: 50px;
    margin:auto;
    background: url(../img/Homebck.jpg) no-repeat center center fixed; 
    background-size: cover;
    color:white;
    min-width:300px;
}

h1{
    font-family:Brush;
    font-size:60px;
}

.GrayBox{
    background-color:#303030;
    opacity:0.88;
    border-radius:15px;
    text-align:center;
    margin:auto;
    margin-bottom:px;
    color : white;
    max-width: 700px;
    width:inherit;
    min-width: 300px;
    padding : 5px 15px;
    opacity:0.88;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size:20px;
}

.Margin{
    margin:auto;
    text-align:center;
}

.Titre{
    max-width:700px;
    margin: auto;
    padding-bottom:150px;
}

.Padding5{
    padding:5px;
}

/*Align Right*/
.AR{
    text-align:right;
}

#Alert{
    margin:auto;
    margin-top:10px;
    max-width:700px;
    min-width: 300px;
    width:inherit;
}

/*Align Left*/
.AL{
    text-align:left;
}

.InputW{
    width:250px;
}

.HomeBtn{
    background-color:#484848;
    border:none;
}

.HomeBtn:hover{
    background-color:#585858;
}

@media(min-width: 400px) and (max-width: 576px) {
    .AR{
        text-align:center;
    }
    .AL{
        text-align:center;
    }
}
@media (max-width: 400px) {
    .AR{
        text-align:Left;
    }
    .AL{
        text-align:Left;
    }
}
