@font-face {
    font-family: Brush;
    src: url(../Fonts/Brush.ttf);
}

body {
    margin:auto;
    background-color:#B2DBD5;
}

h1{
    font-family:Brush;
    font-size:60px;
    display:table-cell; 
    vertical-align:middle
}

#TitleDiv{
    width:300px;
    border-radius:15px;
    background-color:#2B616D;
    color:white;
    text-align:center;
    margin:auto;
    margin-top:30px;
    display:table;
    margin-bottom:30px;
}

#Footer {
    background-color:#FA8D62;
    text-align:center;
    color:White;  
    margin:auto;
    width:100%;
}

.btn-toolbar{
    margin:auto;
    text-align:center;
    margin-bottom:30px;
}

.BarBtnLeft {
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border:none;
    background-color: #FA8D62;
}

.BarBtnLeft:hover{
    background-color:#F96F39;
}

.BarBtnRight{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border:none;
    border-left: 1px solid #B2DBD5;
}

.BarBtnMiddle{
    border-radius:0px;
    border:none;
    border-left: 1px solid #B2DBD5;
}


.BarBtn{
    background-color: #FA8D62;
}

.BarBtn:hover{
    background-color:#F96F39;
    border-left: 1px solid #B2DBD5;
}

.Bluebox{
    background-color:#2B616D;
    padding:20px;
    border-radius:15px;
    display:inline-block;
    text-align:center;
    margin:auto;
    width:50%;
    margin-bottom:20px;
}

.BoxWrapper{
    margin:auto;
    text-align:center;    
}

#ModeVelo{
    background-color:rgb(250, 141, 98);
    margin:auto;
}

#ModeVelo:hover{
    background-color:#F96F39;
}

.mydatagrid .BtnDetail,#ContentPlaceHolder1_ScanQR{
    background-color:#FA8D62;
    font-size:15px;
    padding:0px;
    color:white;
}

.mydatagrid .BtnDetail:hover,#ContentPlaceHolder1_ScanQR:hover{
    background-color:#F96F39;
}

.mydatagrid .BtnDetail span,#ContentPlaceHolder1_ScanQR span{
    background-color:#FA8D62;
    color:white;
}

.mydatagrid .BtnDetail span:hover,#ContentPlaceHolder1_ScanQR span{
    background-color:#F96F39;
    color:white;
}

#ContentPlaceHolder1_ScanQR{
    padding:5px;
    margin:auto;
    text-align:center;
    margin-bottom:20px;
}


/*DATAGRID*/


.mydatagrid
{
	width: auto;
	border: solid 5px #FA8D62;
    margin: auto;
    margin-bottom:30px;
    background-color:#2B616D;
    color:white;
    text-align:center;
}

.header
{
	background-color: #2B616D;
	color: White;
	border: black 1px #FA8D62;
	height: 25px;
	text-align: center;
	font-size: 16px;
}

.rows
{
	background-color: #fff;
	font-family: Arial;
	font-size: 14px;
	color: #000;
	min-height: 25px;
	text-align: left;
	border: black 1px solid;
}
.rows:hover
{
	background-color: #222;
	font-family: Arial;
	color: #fff;
	text-align: left;
}
.selectedrow
{
	background-color: #ff8000;
	color: #fff;
	font-weight: bold;
	text-align: left;
}
.mydatagrid a /** FOR THE PAGING ICONS  **/
{
	background-color: Transparent;
	padding: 5px 5px 5px 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.mydatagrid tbody tr td{
    color:white;
    background-color:#2B616D;
    border-color:#FA8D62;
    text-align:center;
    padding:5px;
}

.mydatagrid a:hover /** FOR THE PAGING ICONS  HOVER STYLES**/
{
	background-color: #000;
	color: #fff;
}
.mydatagrid span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/
{
	background-color: #c9c9c9;
	color: #000;
	padding: 5px 5px 5px 5px;
}
.pager
{
	background-color: #646464;
	color: White;
	height: 30px;
	text-align: left;
}

.mydatagrid th{
    text-align:center;
    padding:5px;
}

@media (max-width: 767px) {
    .btn{
        padding:3px;
        font-size:13px;
    }

    .mydatagrid th{
        text-align:center;
        padding:5px;
        font-size:13px;
    }
}

@media (max-width: 376px) {
    .btn{
        padding:2px;
        font-size:13px;
    }

    .mydatagrid th{
        text-align:center;
        padding:2px;
        font-size:13px;
    }
}

@media (max-width: 320px) {
    .btn{
        padding:2px;
        font-size:11px;
    }
}
